.app{
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100%;
}

.SideMenuAndMainContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}
.SideBar {
}

.PageContent{
  padding-left: 12px;
}
